<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
  <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt=""  class="img-thumbnail">
        <span><h4>{{posicion}}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>{{destino.descripcion}}</p>
        <p>Servicios</p>
        <ul>
          <li *ngFor="let s of destino.servicio">
            <span [ngSwitch]="s">
              <i *ngSwitchCase="'desayuno'" style="color: #FF0000"> {{s}} </i>
              <i *ngSwitchDefault> {{s}} </i>
            </span>
          </li>
        </ul>
      <div>
        <a href="#"
           (click)="voteUp()"
           appTrackearClick
           data-trackear-tags="destino_vote_up lista_destinos_item">
          <i class="material-icons md-18">
            thumb_up
          </i>
        </a>            &nbsp;
        <a href="#"
           (click)="voteDown()"
           appTrackearClick
           data-trackear-tags="destino_vote_down lista_destinos_item">
          <i class="material-icons md-18">
            thumb_down
          </i>
        </a>

        <h1></h1>
        Votos: {{destino.votes}}
        <h1></h1>
      </div>
        <a href="#" class="btn-card"
           (click)="ir()"
           appTrackearClick
           data-trackear-tags="destino_elegir_preferido lista_destinos_item">
          Ir!
        </a>
      <span *ngIf="destino.isSelected()">
        <span ngNonBindable>
          {{PREFERIDO}}
        </span>
        <a [routerLink]="['/destino', destino.id]">Ver!</a>
      </span>
    </div>
</div>
