<p>
  Aqui vemos el detalle de un destino de un viaje!
</p>
<h1></h1>

<mgl-map
  [style]="style"
  [zoom]="[2]"
  style="height: 50vh; width: 50vw">
  <mgl-marker
    [lngLat]="[-75.551012, 10.421185]">
    <div
    onclick="alert('Hola')"
    class="marker">
      Hola Mundo!
    </div>
  </mgl-marker>
</mgl-map>
