<form
  [formGroup]="fg"
  (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['descripcion'].value)"
>
  <div	class="form-group">
    <label	for="nombre">Nombre</label>
    <input type="text" class="form-control" name="nombre" placeholder="Escribir el nombre de la ciudad" autocomplete="off"
    [formControl]="fg.controls['nombre']"
    >
    <ul>
      <li *ngFor="let r of searchResults;">
        {{r}}
      </li>
    </ul>
    <!-- <div *ngIf="!fg.controls['nombre'].valid">Nombre de ciudad inválido.</div> -->
    <div *ngIf="fg.controls['nombre'].hasError('required')">Campo nombre requerido.</div>
    <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')" style="background: #FF0000; color: white;">Campo nombre inválido.</div>
    <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')" style="background: #00AAF4; color: white;">Campo nombre debe tener al menos {{minLongitud}} caracteres.</div>
  </div>
  <div	class="form-group">
    <label	for="descripcion">Descripcion</label>
    <input type="text" class="form-control" name="descripcion" placeholder="Ingresar la descripción" autocomplete="off"
           [formControl]="fg.controls['descripcion']"
    >
    <div *ngIf="!fg.controls['descripcion'].valid">Descripción de ciudad inválido.</div>
    <div *ngIf="fg.controls['descripcion'].hasError('invalidDescripcion')">Campo descripción inválido.</div>
    <div *ngIf="fg.controls['descripcion'].hasError('minLongDescripcion')">Campo descripción debe tener al menos {{minLongitud}} caracteres.</div>
  </div>
  <button	type="submit"
           class="btn btn-primary"
           *ngIf="fg.valid"
  >
    Guardar!
  </button>
</form>
