<p>
  vuelos works!
</p>
<div class="navLinks">
  <a [routerLink]="['./main']">Main</a>
  <h2></h2>
  <a [routerLink]="['./mas-info']">Más info</a>
  <h2></h2>
  <a [routerLink]="['./', 5]">Vuelo 5</a>
</div>

<router-outlet></router-outlet>
